body{
    font-family:Arial, Helvetica, sans-serif ;
    background-color: rgb(215, 173, 255);
    color: rgb(3, 102, 100);
    background-image: url("https://t3.ftcdn.net/jpg/03/44/52/88/360_F_344528805_o1LwyPDkkDZ7TEbTE5J08e9m00ZifmGK.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    width: 50%; /* can also base it off pixels i.e. 500 px, but won't resize with the browser size*/
    display: block; /* Makes pictures not on the same line*/
    border: solid 3px black;
    padding: 3px;
    margin: auto; /* centers on page, but ignores top and bottom margin*/
    margin-top: 5px;
    margin-bottom: 5px;

}

a{
    color: rgb(244, 95, 95);
}

h3{
    border: dashed orange 5px;
}

.fav{
    font-family: cursive;
    color: aquamarine;
    font-weight: bold;
    border: blanchedalmond dotted 2px;
    background-color: slategray;
    text-align: center;
}

.fav:hover{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-decoration: line-through;
    background-color: black;
    color: aliceblue;
    border: orange 5px solid;
}